<!DOCTYPE html>
<html>
<head><title>Form</title></head>

<body>

<h1>Add a new item</h1>

<form action="insert_item" method="post">
  <label for="url">Link URL</label>
  <input id="url" name="query_link_url" placeholder="Enter a url..."><br>

  <label for="desc">Link Description</label>
  <input id="desc" name="query_link_description" placeholder="Enter a link description..."><br>

  <label for="img">Thumbnail URL</label>
  <input id="img" name="query_thumbnail_url" placeholder="Enter a thumbnail URL..."><br>

<button>Create item</button>
</form>

</body>

</html>
